.desktop-2,
.desktop-2 * {
  box-sizing: border-box;
}
.desktop-2 {
  background: #ffffff;
  width: 1350px;
  height: 1700px;
  position: relative;
  overflow: hidden;
}
.footer {
  background: #3e4b24;
  width: 1350px;
  height: 400px;
  position: absolute;
  left: calc(50% - 675px);
  bottom: 0px;
}
.ghazibad {
  color: #ffffff;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: absolute;
  left: 40px;
  top: 1540px;
  width: 96px;
  height: 29px;
}
.bangalore {
  color: #ffffff;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: absolute;
  left: 265px;
  top: 1481px;
  width: 105px;
  height: 29px;
}
.hyderabad {
  color: #ffffff;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: absolute;
  left: 141px;
  top: 1481px;
  width: 116px;
  height: 29px;
}
.gurgaon {
  color: #ffffff;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: absolute;
  left: 37px;
  top: 1481px;
  width: 96px;
  height: 29px;
}
.chennai {
  color: #ffffff;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: absolute;
  left: 385px;
  top: 1481px;
  width: 96px;
  height: 29px;
}
.pune {
  color: #ffffff;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: absolute;
  left: 146px;
  top: 1540px;
  width: 66px;
  height: 29px;
}
.noida {
  color: #ffffff;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: absolute;
  left: 249px;
  top: 1540px;
  width: 67px;
  height: 29px;
}
.kochi {
  color: #ffffff;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: absolute;
  left: 351px;
  top: 1540px;
  width: 112px;
  height: 29px;
}
.bank-offers {
  background: #36bc33;
  width: 1350px;
  height: 248px;
  position: absolute;
  left: calc(50% - 675px);
  bottom: 400px;
}
.bank-offers2 {
  background: #36bc33;
  width: 1350px;
  height: 881px;
  position: absolute;
  left: calc(50% - 675px);
  bottom: 648px;
}
.home-page-logo {
  background: #fefefe;
  width: 1350px;
  height: 160px;
  position: absolute;
  left: calc(50% - 675px);
  top: calc(50% - 850px);
}
.shopify-logo {
  position: absolute;
  left: 81px;
  top: 59px;
  overflow: visible;
}
.header {
  background: #599e60;
  width: 1350px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.shopifyemart-gmail-com {
  color: #ffffff;
  text-align: center;
  font: 600 italic 20px "Inter", sans-serif;
  position: absolute;
  left: 1065px;
  top: 11px;
  width: 275px;
  height: 22px;
}
.shopify-com {
  color: #2d2ba4;
  text-align: center;
  font: 700 italic 20px "Inter", sans-serif;
  position: absolute;
  left: 149px;
  top: 84px;
  width: 133px;
  height: 36px;
}
._123-673-971 {
  color: #ffffff;
  text-align: center;
  font: 600 italic 20px "Inter", sans-serif;
  position: absolute;
  left: 920px;
  top: 11px;
  width: 155px;
  height: 22px;
}
.discover-shop-enjoy {
  color: #ffffff;
  text-align: center;
  font: 400 italic 20px "Inter", sans-serif;
  position: absolute;
  left: 8px;
  top: 11px;
  width: 284px;
  height: 22px;
}
.cart-logo {
  width: 50px;
  height: 52.24px;
  position: absolute;
  left: 1231px;
  top: 84px;
}
.your-shopping-your-way {
  color: #12263d;
  text-align: center;
  font: 500 italic 16px "Inter", sans-serif;
  position: absolute;
  left: 64px;
  top: 145px;
  width: 222px;
  height: 46px;
}
.cities-we-serve {
  color: #000000;
  text-align: center;
  font: 800 30px "Inter", sans-serif;
  position: absolute;
  left: 37px;
  top: 1366px;
  width: 306px;
  height: 45px;
}
.delhi {
  color: #ffffff;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: absolute;
  left: 40px;
  top: 1427px;
  width: 58px;
  height: 29px;
}
.mumbai {
  color: #ffffff;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: absolute;
  left: 146px;
  top: 1427px;
  width: 79px;
  height: 29px;
}
.gauhati {
  color: #ffffff;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: absolute;
  left: 254px;
  top: 1427px;
  width: 77px;
  height: 29px;
}
.surat {
  color: #ffffff;
  text-align: center;
  font: 600 20px "Inter", sans-serif;
  position: absolute;
  left: 357px;
  top: 1427px;
  width: 57px;
  height: 29px;
}
.shopify-logo2 {
  position: absolute;
  left: 1017px;
  top: 1337px;
  overflow: visible;
}
.shopify-com2 {
  color: #d4d3f3;
  text-align: center;
  font: 700 italic 20px "Inter", sans-serif;
  position: absolute;
  left: 1092px;
  top: 1368px;
  width: 133px;
  height: 36px;
}
.your-shopping-your-way2 {
  color: #000000;
  text-align: center;
  font: 500 italic 16px "Inter", sans-serif;
  position: absolute;
  left: 1024px;
  top: 1427px;
  width: 222px;
  height: 46px;
}
.linkdein {
  position: absolute;
  left: 918px;
  top: 1519px;
  overflow: visible;
}
.instagram {
  position: absolute;
  left: 984px;
  top: 1519px;
  overflow: visible;
}
.x-com {
  position: absolute;
  left: 1059px;
  top: 1519px;
  overflow: visible;
}
.facebook {
  position: absolute;
  left: 1135px;
  top: 1517px;
  overflow: visible;
}
.youtube {
  position: absolute;
  left: 1215px;
  top: 1520px;
  overflow: visible;
}
.follow-us-on {
  color: rgba(0, 0, 0, 0.93);
  text-align: center;
  font: 700 italic 22px "Inter", sans-serif;
  position: absolute;
  left: 913px;
  top: 1475px;
  width: 150px;
  height: 35px;
}
.image-1 {
  width: 1759px;
  height: 1143px;
  position: absolute;
  left: -45px;
  top: 168px;
}
.your-cart-is-empty-add-items-for-shopping {
  color: #000000;
  text-align: center;
  position: absolute;
  left: 753px;
  top: 487px;
  width: 542px;
  height: 338px;
}
.your-cart-is-empty-add-items-for-shopping-span {
  color: #000000;
  font: 600 italic 50px "Inter", sans-serif;
}
.your-cart-is-empty-add-items-for-shopping-span2 {
  color: #000000;
  font: 600 italic 30px "Inter", sans-serif;
}
